<% if (title) { %>
  <h1>
    <%= title %>
  </h1>
  <% } else { res.redirect('/') } %>
    <div id="registration-view">
      <%- messages() %>

        <% if (errors) { %>
          <ul class="notice">
            <% errors.array().forEach(error=> { %>
              <li>
                <%= error.msg %>
              </li>
              <% }) %>
          </ul>
          <% } %>

            <form class="login-form" method="post" action="/account/register">
              <fieldset>
                <label class="top">First name* <input type="text" name="account_firstname"
                    value="<%= locals.account_firstname %>" required id="firstname"></label>
                <label class="top">Last name* <input type="text" name="account_lastname"
                    value="<%= locals.account_lastname %>" required id="lastname"></label>
                <label class="top">Email* <input type="email" name="account_email" placeholder="someone@gmail.com"
                    value="<%= locals.account_email %>" required id="email" autocomplete="off"></label>
                <label class="top">Password* <input type="password" name="account_password" required id="password"
                    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
                    autocomplete="off"></label>
                <p>Password must be at least 12 characters and include at least: 1 capital letter, 1 lowercase letter, 1
                  number, and 1 special character</p>
                <input type="submit" value="Register" class="submitBtn">
              </fieldset>
            </form>
    </div>